<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSz-VCxDekXvn0UZw0Xp-suXkEdr8W_O0</string>
	<key>GCM_SENDER_ID</key>
	<string>891332976253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.lorenzofravolini.FireBase-app</string>
	<key>PROJECT_ID</key>
	<string>fir-app-63391</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-63391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891332976253:ios:fe841a034e908884015b14</string>
</dict>
</plist>